/** import font */
@font-face {
    font-family: Josefin;
    src: url("../assets/font/josefin/JosefinSans-Regular.ttf");
}

/*! reset */
* {
    margin: 0;
    padding: 0;
    font-family: Josefin;
    box-sizing: border-box;
    overflow: hidden;
}

/*& all variables */
:root {
    --text-color: #fff;
    --bg-color: #27474E;
    --bg-form-color: #27474e56;
    ;
    --bg-input: #FDEDED;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/** SVG */
#leftTop {

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

#rightBottom {
    z-index: -1;
    position: absolute;
    bottom: -10%;
    right: -0%;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

form {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80vh;
    background-color: var(--bg-form-color);
    border-radius: 1rem;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}

.container_input {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#container_message {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0 5rem 0;
}

label {
    min-width: 15%;
    text-align: left;
    font-size: 2rem;
}

input[type=text],
input[type=email] {
    border-radius: .5rem;
    background-color: var(--bg-input);
    padding: .3rem .3rem;
    min-width: 40%;
    font-size: 2rem;
    outline: none;
}

#container_message>label {
    margin-bottom: 1rem;
}

textarea {
    background-color: var(--bg-input);
    width: 70%;
    height: 20vh;
    padding: .3rem .3rem;
    resize: none;
    overflow: auto;
    font-size: 2rem;
    border-radius: .5rem;
    outline: none;
}

input[type=submit] {
    font-size: 2rem;
    font-weight: 900;
    padding: 0.7rem 11.5rem;
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid var(--text-color);
    cursor: pointer;
    color: var(--text-color);
}

/*! input invalid */

input[type=text]:invalid,
input[type=email]:invalid,
textarea:invalid {
    border: 2px solid red;
}

/** input valid */

input[type=text]:valid,
input[type=email]:valid,
textarea:valid {
    border: 2px solid rgb(12, 205, 12);
}


/*? Medias */

@media screen and (max-width: 834px) {

    form {
        position: initial;
        transform: translate(0);
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    #leftTop {
        top: -20%;
        left: -20%;
        width: 400px;
    }

    #rightBottom {
        bottom: -25%;
        right: -15%;
        width: 400px;
    }
}

@media screen and (max-width: 428px) {

    .container_input {
        flex-direction: column;
        align-items: center;
    }

    input[type=submit] {
        font-size: 2rem;
        font-weight: 900;
        padding: 0.7rem 5.5rem;
        background-color: transparent;
    }

    #leftTop,
    #rightBottom {
        width: 200px;
    }
}